{% extends 'base.html.twig' %}

{% block body_replace %}

{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{% if app.user %}
    <div class="mb-3">
        {{'You are logged in as'|trans}} {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">{{'Logout'|trans}}</a>
    </div>
{% endif %}

<div id="login_form" class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
            <div class="text-center mb-4">
                <h4>{{'Sign in'|trans}}</h4>
                <p class="text-muted mb-4">{{'Sign in to continue to SystemDesigner.'|trans}}</p>
            </div>

            <div class="card" style="background:rgba(0,0,0,.2);">
                <div class="card-body p-4">
                    <div class="p-3">
                        <form method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                            <div class="mb-3">
                                <label class="form-label" for="inputEmail">{{'Email'|trans}}</label>
                                <input type="email" name="_username" id="inputEmail" class="form-control form-control-lg border-light bg-light-subtle rounded-1" value="{{ last_username }}" autocomplete="email" placeholder="Enter Email" aria-label="Enter Email" required autofocus>
                            </div>

                            <div class="mb-4">
                                <label class="form-label" for="inputPassword">{{'Password'|trans}}</label>
                                <input type="password" name="_password" id="inputPassword" class="form-control form-control-lg border-light bg-light-subtle rounded-1" autocomplete="current-password" placeholder="Enter Password" aria-label="Enter Password" required>
                            </div>

                            <div class="form-check mb-4">
                                <input type="checkbox" class="form-check-input" id="remember-check">
                                <label class="form-check-label" for="remember-check">{{'Remember me'|trans}}</label>
                            </div>

                            <div class="d-grid">
                                <button class="btn btn-primary rounded-1" type="submit">{{'Sign in'|trans}}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Beta Access -->
            {# Beta Access #} 

            <div class="mt-5 text-center">
                <p>{{ "We are currently in closed beta and don't accept any signups. - You can message "|trans }}<a href="mailto:eric@pulsationaudio.com" class="fw-medium text-primary">eric@pulsationaudio.com</a>{{ " to apply for beta access."|trans }}</p>
                <p>© 2023 Pulsation Audio</p>
            </div>

            <!-- Register -->
            {# Register Form 

            <div class="mt-5 text-center">
                <p>Don't have an account yet? <a href="{{ path('app_register') }}" class="fw-medium text-primary">Signup</a></p>
                <p>© 2023 Pulsation Audio</p>
            </div>

            #}
        </div>
    </div>
</div>
{% endblock %}