{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body_replace %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div id="login_form" class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="text-center mb-4">
                    <h4>Sign in</h4>
                    <p class="text-muted mb-4">Sign in to continue to SystemDesigner.</p>
                </div>
    
                <div class="card" style="background:rgba(0,0,0,.2);">
                    <div class="card-body p-4">
                        <div class="p-3">
                            {{ form_errors(registrationForm) }}
                            <form method="post">
                                {{ form_start(registrationForm) }}
                                <div class="mb-3">
                                    {{ form_row(registrationForm.email) }}
                                </div>
                                <div class="mb-4">
                                    {{ form_row(registrationForm.plainPassword, { label: 'Password' })}}
                                </div>
                                <div class="form-check mb-4">
                                    {{ form_row(registrationForm.agreeTerms) }}
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary rounded-1" type="submit">Sign in</button>
                                </div>
                                {{ form_end(registrationForm) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}