{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | {{ amplifier.Manufacturer.name }} - {{ amplifier.Name }}{% endblock %}
{% block crud_toolbar %}
<li class="list-inline-item d-lg-inline-block ms-0 m-0">
    <a type="button" href="{{ path('app_amplifier_index') }}" class="btn nav-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</li>
{% if amplifier.user == app.user %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <a type="button" href="{{ path('app_amplifier_edit', {'id': amplifier.id}) }}" class="btn nav-btn">
            <i class="fa-solid fa-pen"></i>
        </a>
    </li>
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        {{ include('pages/crud/amplifier/_delete_form.html.twig') }}
    </li>
{% endif %}
{% endblock %}

{% block crud_body %}
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ amplifier.id }}</td>
            </tr>
            <tr>
                <th>{{'User'|trans}}</th>
                <td>{{ amplifier.User.username }}</td>
            </tr>
            <tr>
                <th>{{'Manufacturer'|trans}}</th>
                <td>{{ amplifier.Manufacturer.name }}</td>
            </tr>
            <tr>
                <th>{{'Name'|trans}}</th>
                <td>{{ amplifier.Name }}</td>
            </tr>
            <tr>
                <th>{{'Power @ 16 Ω'|trans}}</th>
                <td>{{ amplifier.Power16 }}</td>
            </tr>
            <tr>
                <th>{{'Power @ 8 Ω'|trans}}</th>
                <td>{{ amplifier.Power8 }}</td>
            </tr>
            <tr>
                <th>{{'Power @ 4 Ω'|trans}}</th>
                <td>{{ amplifier.Power4 }}</td>
            </tr>
            <tr>
                <th>{{'Power @ 2 Ω'|trans}}</th>
                <td>{{ amplifier.Power2 }}</td>
            </tr>
            <tr>
                <th>{{'Power Bridged @ 8 Ω'|trans}}</th>
                <td>{{ amplifier.PowerBridge8 }}</td>
            </tr>
            <tr>
                <th>{{'Power Bridged @ 4 Ω'|trans}}</th>
                <td>{{ amplifier.PowerBridge4 }}</td>
            </tr>
            {% if amplifier.Manual is not null and amplifier.Manual is not empty %}
                <tr>
                    <th>{{'Manual'|trans}}</th>
                    <td><a class="button btn btn-primary" href="{{ asset('uploads/manuals/' ~ amplifier.Manual) }}" download>{{'Download Manual'|trans}}</i></a></td>
                </tr>
                
            {% endif %}
            <tr>
                <th>{{ 'Validation'|trans }}</th>
                <td>
                    {{ form_start(form) }}
                        <button type="submit" name="submit" class="btn {% if amplifier.validated %}btn-success text-body{% else %}btn-primary{% endif %}"
                        {% if amplifier.validated %}
                            disabled
                        {% elseif validationRequested %}
                            disabled
                        {% endif %}>
                        {% if amplifier.validated %} {{ 'Validated'|trans }}
                        {% elseif validationRequested %} {{ 'Requested'|trans }}
                        {% else %} {{ 'Request'|trans }}
                        {% endif %}</button>
                    {{ form_end(form) }}
                </td>
            </tr>
            
        </tbody>
    </table>
{% endblock %}
