{% extends 'base.html.twig' %}

{% block title %}Processor{% endblock %}

{% block body %}
    <h1>Processor</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ processor.id }}</td>
            </tr>
            <tr>
                <th>BrandId</th>
                <td>{{ processor.BrandId }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ processor.UserId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ processor.Name }}</td>
            </tr>
            <tr>
                <th>Inputs</th>
                <td>{{ processor.Inputs }}</td>
            </tr>
            <tr>
                <th>Outputs</th>
                <td>{{ processor.Outputs }}</td>
            </tr>
            <tr>
                <th>ProcessorOffset</th>
                <td>{{ processor.ProcessorOffset }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_processor_crud_index') }}">back to list</a>

    <a href="{{ path('app_processor_crud_edit', {'id': processor.id}) }}">edit</a>

    {{ include('processor_crud/_delete_form.html.twig') }}
{% endblock %}
