{{ form_start(form) }}
<div class="d-flex flex-column overflow-hidden">
        
    {{ include('pages/crud/limiter/partials/_selector.html.twig') }}

    <div class="divider seperator mb-3"><hr></div>

    {{ include('pages/crud/limiter/partials/_settings.html.twig') }}

    <div class="loading-container-wrapper p-3">

        <div class="loader-container" style="display:none;">
            <div class="custom-loader"></div>
        </div>

        <div class="custom-loader-item unloaded">

            <div class="shepherd-fields">
                {{ include('pages/crud/limiter/partials/_calc_fields.html.twig') }}
            </div>
            
            {{ include('pages/crud/limiter/partials/_lim_times.html.twig') }}
            
            {{ include('pages/crud/limiter/partials/_details.html.twig') }}

            <div class="divider seperator mb-3"><hr></div>

            <div class="shepherd-messagebox">
                {{ include('pages/crud/limiter/partials/_messagebox.html.twig') }}
            </div>
        </div>
    </div>

    <div class="divider seperator mb-3"><hr></div> {# Add a separator here #}

    <div class="row">
        <button class="btn btn-primary m-0 mb-0 shepherd-save">{{ button_label|default('Save') }}</button>
    </div>

</div>
{{ form_end(form) }}