{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | New Limiter{% endblock %}

{% block crud_body %}
    {{ include('pages/crud/limiter/_form.html.twig') }}
{% endblock %}

{% block crud_toolbar %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <a type="button" href="{{ path('app_limiter_index') }}" class="btn nav-btn shepherd-back">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
        <button class="btn bg-opacity-10 bg-dark rounded shepherd-toolbar-settings" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSettings" aria-expanded="false" aria-controls="collapseSettings" aria-label="Show Settings" data-balloon-pos="down">
            <i class="fa-solid fa-sliders"></i>
        </button>
        <button class="btn bg-opacity-10 bg-dark rounded shepherd-time" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTimes" aria-expanded="false" aria-controls="collapseTimes" aria-label="Show Time-Suggestions" data-balloon-pos="down">
            <i class="fa-solid fa-align-center fa-rotate-90"></i>
        </button>

        {% if app.user.isSubscriber %}

        <button class="btn bg-opacity-10 bg-dark rounded shepherd-details" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails" aria-label="Show Details" data-balloon-pos="down">
            <i class="fa-solid fa-asterisk"></i>
        </button>
        
        {% endif %}
    </li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('limiter') }}
{% endblock %}