<!-- CARD -->
<div class="col-xl-3 col-md-6">
    <div class="card card-h-100 shepherd-badge">
        <div class="card-body">
            <div class="d-flex">
                <div class="flex-grow-1">
                    <p class="text-muted fw-medium">{{ 'Speaker'|trans }}</p>
                    {% if not app.user.isSubscriber %}
                        <h4 class="mb-0">{{ app.user.speakers|length }} / {{ maxCount }}</h4>
                    {% else %}
                        <h4 class="mb-0">{{ app.user.speakers|length }}</h4>
                    {% endif %}
                </div>

                <div class="flex-shrink-0 align-self-center card-badge">
                    {% if not app.user.isSubscriber %}
                    <div class="progress-bar-circular" data-progress="{{ app.user.speakers|length }}">
                        <div class="progress-bar-content avatar-sm rounded-circle mini-stat-icon">
                            <span class="icon rounded-circle">
                                <i class="icon-speaker"></i>
                            </span>
                        </div>
                    </div>
                    {% else %}
                    <div class="bg-primary avatar-sm rounded-circle mini-stat-icon">
                        <span class="icon rounded-circle">
                            <i class="icon-speaker"></i>
                        </span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>