{{ form_start(form) }}
<div class="d-flex flex-column overflow-hidden">
    <div class="row">
        <div class="col">
            {{ form_row(form.Manufacturer, {
                'attr': {
                    'class': 'form-select',
                },
                'placeholder': 'Select Manufacturer',
            }) }}
        </div>
        <div class="col">
            {{ form_row(form.Name) }}
        </div>
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.Power16, 'Power @ 16 Ω', {'label_attr': {'class': 'form-label required'}}) }}
            <div class="input-group">
                {{ form_widget(form.Power16, {'attr': {'inputmode': 'decimal', 'class': 'form-control'}}) }}
                <span class="input-group-text">Watt</span>
            </div>
        </div>
        <div class="col mb-3">
            {{ form_label(form.Power8, 'Power @ 8 Ω', {'label_attr': {'class': 'form-label required'}}) }}
            <div class="input-group">
                {{ form_widget(form.Power8, {'attr': {'inputmode': 'decimal', 'class': 'form-control'}}) }}
                <span class="input-group-text">Watt</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.Power4, 'Power @ 4 Ω', {'label_attr': {'class': 'form-label required'}}) }}
            <div class="input-group">
                {{ form_widget(form.Power4, {'attr': {'inputmode': 'decimal', 'class': 'form-control'}}) }}
                <span class="input-group-text">Watt</span>
            </div>
        </div>
        <div class="col mb-3">
            {{ form_label(form.Power2, 'Power @ 2 Ω', {'label_attr': {'class': 'form-label required'}}) }}
            <div class="input-group">
                {{ form_widget(form.Power2, {'attr': {'inputmode': 'decimal', 'class': 'form-control'}}) }}
                <span class="input-group-text">Watt</span>
            </div>
        </div>
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        <div class="col mb-3">
            {{ form_label(form.PowerBridge8, 'Power Bridged @ 8 Ω', {'label_attr': {'class': 'form-label required'}}) }}
            <div class="input-group">
                {{ form_widget(form.PowerBridge8, {'attr': {'inputmode': 'decimal', 'class': 'form-control'}}) }}
                <span class="input-group-text">Watt</span>
            </div>
        </div>
        <div class="col mb-3">
            {{ form_label(form.PowerBridge4, 'Power Bridged @ 4 Ω', {'label_attr': {'class': 'form-label required'}}) }}
            <div class="input-group">
                {{ form_widget(form.PowerBridge4, {'attr': {'inputmode': 'decimal', 'class': 'form-control'}}) }}
                <span class="input-group-text">Watt</span>
            </div>
        </div>
    </div>

    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        {{ form_row(form.Manual) }}
    </div>
    <div class="divider seperator mb-3"><hr></div>

    <div class="row">
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}