{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | New Amplifier{% endblock %}

{% block crud_body %}
    {{ include('pages/amplifier/_form.html.twig') }}
{% endblock %}

{% block crud_toolbar %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <a type="button" href="{{ path('app_amplifier_index') }}" class="btn nav-btn">
            <i class="fa-solid fa-arrow-left"></i>
        </a>
    </li>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('amplifier') }}
{% endblock %}