{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | Limiters{% endblock %}
{% block crud_toolbar %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0 shepherd-new">
        <a type="button" href="{{ path('app_limiter_new') }}" class="btn nav-btn">
            <i class="fa-solid fa-plus"></i>
        </a>
    </li>
{% endblock %}
{% block crud_body %}
<table class="table align-middle table-nowrap mb-0" data-tables='data-tables'>
    <thead class="">
        <tr>
            <th class="sort text-uppercase align-middle" data-sort="id">ID</th>
            <th class="sort text-uppercase align-middle" data-sort="processor">Processor</th>
            <th class="sort text-uppercase align-middle" data-sort="amplifier">Amplifier</th>
            <th class="sort text-uppercase align-middle" data-sort="speaker">Speaker</th>
            <th class="sort text-uppercase align-middle" data-sort="vrms">Vrms</th>
            <th class="sort text-uppercase align-middle" data-sort="vrms_value">Value</th>
            <th class="sort text-uppercase align-middle" data-sort="vpeak">Vpeak</th>
            <th class="sort text-uppercase align-middle" data-sort="vpeak_value">Value</th>
            <th class="sort text-uppercase align-middle" data-sort="actions">Actions</th>
        </tr>
    </thead>
    <tbody id="search-table" class="list form-check-all">
        {% for limiter in limiters %}
        <tr>
            <td class="id"><a class="text-body fw-bold" href="{{ path('app_limiter_show', {'id': limiter.id}) }}">{{ limiter.id }}</a></td>
            <td class="processor">{{ limiter.Processor.Manufacturer }} - {{ limiter.Processor.Name }}</td>
            <td class="amplifier">{{ limiter.Amplifier.Manufacturer }} - {{ limiter.Amplifier.Name }}</td>
            <td class="speaker">{{ limiter.Speaker.Manufacturer }} - {{ limiter.Speaker.Name }}</td>
            <td class="vrms">{{ limiter.Vrms }}</td>
            <td class="vrms_value">{{ limiter.VrmsValue }}</td>
            <td class="vpeak">{{ limiter.Vpeak }}</td>
            <td class="vpeak_value">{{ limiter.VpeakValue }}</td>
            <td class="actions d-flex gap-2">
                <a href="{{ path('app_limiter_show', {'id': limiter.id}) }}"><i class="fa-solid fa-eye"></i></a>
                <a href="{{ path('app_limiter_edit', {'id': limiter.id}) }}"><i class="fa-solid fa-pen"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('crud') }}
{% endblock %}
