{% use 'partials/sidebar/menu.html.twig' %}
{% block sidebar %}
    <!-- LOGO -->
    <div class="sidebar_profile d-none flex-lg-column d-lg-block">
        <ul class="nav justify-content-center">
            <li class="btn-group dropdown">
                <div class="shepherd-logo">
                    <a href="{{ path('app_main') }}" class="nav-link logo d-flex">
                        <img src="{{ asset('images/logo.svg') }}" alt="" height="30">
                    </a>
                </div>
            </li>
        </ul>
    </div>

    <!-- NAV -->
    <div class="sidebar_menu flex-lg-column shepherd-menu my-auto">
        {% block sidebar_menu %}
            {{ parent() }}
        {% endblock %}
    </div>

    <!-- SETTINGS -->
    <div class="sidebar_logo d-none flex-lg-column d-lg-block">
        <ul class="nav justify-content-center shepherd-settings">

            <li class="btn-group dropup dropend opacity-25 pe-none">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-bell">
                        {% if app.user.notifications|length > 0 %}
                        <span class="position-absolute top-1 start-99 translate-middle badge rounded-pill bg-primary text-body font-size-12">
                            {{ app.user.notifications|length }}
                            <span class="visually-hidden">{{'Unread Notifications'|trans}}</span>
                        </span>
                        {% endif %}
                    </i>
                </a>
                <ul class="dropdown-menu">
                    {{ include('partials/sidebar/notification/_notifications.html.twig')}}
                </ul>  
            </li>

            <li class="btn-group">
                <a class="nav-link" href="{{ path('app_faq') }}" role="button">
                    <i class="fa-solid fa-circle-question"></i>
                </a>
            </li>

            <li class="btn-group dropup dropend">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa-solid fa-gear rounded-circle"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><p class="dropdown-header">{{ 'Version:'|trans }} {{ app_version }}</p></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{{ path('app_updates') }}">{{ 'Updates'|trans }}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item opacity-25 pe-none" href="{{ path('app_subscription') }}">{{'Subscription'|trans}}</a></li>
                    <li><a class="dropdown-item opacity-25 pe-none" href="{{ path('app_settings') }}">{{'Settings'|trans}}</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item text-danger" href="{{ path('app_logout') }}">{{'Logout'|trans}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
    
{% endblock %}