{% extends 'content.html.twig' %}

{% block title %}{{ parent() }} | {{ 'Settings'|trans }}{% endblock %}

{% block page_content %}
    <div class="card">
        <div class="card-header">
            <h4>{{ 'Personal Settings'|trans }}</h4>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
            <div id="_DetailsSelector" class="mb-3">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <button type="button" class="nav-link dropdown" data-bs-toggle="collapse" data-bs-target="#_Account" aria-expanded="true">{{ 'Account'|trans }}</button>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="nav-link dropdown" data-bs-toggle="collapse" data-bs-target="#_Database">{{ 'Database'|trans }}</button>
                    </li>
                </ul>

                <div class="accordion-group p-3">
                    <div class="collapse indent show" id="_Account"  data-bs-parent="#_DetailsSelector">
                        {{ include('pages/settings/_account.html.twig', { form }) }}
                    </div>
                    <div class="collapse indent" id="_Database"  data-bs-parent="#_DetailsSelector">
                        {{ include('pages/settings/_database.html.twig', { form }) }}
                    </div>
                </div>
            </div>

            <div class="row p-3">
                {% set buttonLabelDefault = 'Save'|trans %}
                <button class="btn btn-primary">{{ button_label|default(buttonLabelDefault) }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
