{% extends 'base.html.twig' %}

{% block title %}Manufacturer index{% endblock %}

{% block body %}
    <h1>Manufacturer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manufacturer in manufacturers %}
            <tr>
                <td>{{ manufacturer.id }}</td>
                <td>{{ manufacturer.Name }}</td>
                <td>
                    <a href="{{ path('app_manufacturer_show', {'id': manufacturer.id}) }}">show</a>
                    <a href="{{ path('app_manufacturer_edit', {'id': manufacturer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_manufacturer_new') }}">Create new</a>
{% endblock %}
