<div class="times">
    <div class="row">
        <div class="collapse mt-3" id="collapseTimes">
            <div class="card card-body border-dark">
                <div class="row">
                    <div class="col-sm">
                        <div class="info-container mb-3">
                            {{ infoButton('These values are suggestions based on speaker bandwidth.') }}
                            <div>
                                {{ form_label(form.VrmsAttack, 'Vrms Attack', {'label_attr': {'class': 'form-label'}}) }}
                                <div class="input-group">
                                    {{ form_widget(form.VrmsAttack, {'attr': {'readonly': 'readonly', 'class': 'form-control'}}) }}
                                    <span class="input-group-text">ms</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-container mb-3">
                            {{ infoButton('These values are suggestions based on speaker bandwidth.') }}
                            <div>
                                {{ form_label(form.VrmsRelease, 'Vrms Release', {'label_attr': {'class': 'form-label'}}) }}
                                <div class="input-group">
                                    {{ form_widget(form.VrmsRelease, {'attr': {'readonly': 'readonly', 'class': 'form-control'}}) }}
                                    <span class="input-group-text">ms</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="info-container mb-3">
                            {{ infoButton('These values are suggestions based on speaker bandwidth.') }}
                            <div>
                                {{ form_label(form.VpeakAttack, 'Vpeak Attack', {'label_attr': {'class': 'form-label'}}) }}
                                <div class="input-group">
                                    {{ form_widget(form.VpeakAttack, {'attr': {'readonly': 'readonly', 'class': 'form-control'}}) }}
                                    <span class="input-group-text">ms</span>
                                </div>
                            </div>
                        </div>
                        <div class="info-container mb-3">
                            {{ infoButton('These values are suggestions based on speaker bandwidth.') }}
                            <div>
                                {{ form_label(form.VpeakRelease, 'Vpeak Release', {'label_attr': {'class': 'form-label'}}) }}
                                <div class="input-group">
                                    {{ form_widget(form.VpeakRelease, {'attr': {'readonly': 'readonly', 'class': 'form-control'}}) }}
                                    <span class="input-group-text">ms</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>