{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | Speakers{% endblock %}
{% block crud_toolbar %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <div class="dropdown dropstart">
            <button class="btn nav-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <div class="dropdown-menu p-0 dropdown-menu-md">
                <div class="search-box p-1">
                    <input type="text" class="form-control bg-light border-0" id="search-input" placeholder="Search..">
                </div>
            </div>
        </div>
    </li>
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <a type="button" href="{{ path('app_speaker_new') }}" class="btn nav-btn">
            <i class="fa-solid fa-plus"></i>
        </a>
    </li>
{% endblock %}
{% block crud_body %}
<table class="table align-middle table-nowrap mb-0">
    <thead class="">
        <tr>
            <th class="sort text-uppercase align-middle" data-sort="id">ID</th>
            <th class="sort text-uppercase align-middle" data-sort="manufacturer">Manufacturer</th>
            <th class="sort text-uppercase align-middle" data-sort="name">Name</th>
            <th class="sort text-uppercase align-middle" data-sort="rms_power">RMS Power</th>
            <th class="sort text-uppercase align-middle" data-sort="peak_power">Peak Power</th>
            <th class="sort text-uppercase align-middle" data-sort="impedance">Impedance</th>
            <th class="sort text-uppercase align-middle" data-sort="spl">SPL</th>
            <th class="sort text-uppercase align-middle" data-sort="actions">Actions</th>
        </tr>
    </thead>
    <tbody id="search-table" class="list form-check-all"><tr>
        {% for speaker in speakers %}
        <tr>
            <td class="id"><a class="text-body fw-bold" href="{{ path('app_speaker_show', {'id': speaker.id}) }}">{{ speaker.id }}</a></td>
            <td class="manufacturer">{{ speaker.Manufacturer.name }}</td>
            <td class="name">{{ speaker.Name }}</td>
            <td class="rms_power">{{ speaker.PowerRMS }}</td>
            <td class="peak_power">{{ speaker.PowerPeak }}</td>
            <td class="impedance">{{ speaker.Impedance }}</td>
            <td class="spl">{{ speaker.SPL }}</td>
            <td class="actions d-flex gap-2">
                <a href="{{ path('app_speaker_show', {'id': speaker.id}) }}"><i class="fa-solid fa-eye"></i></a>
                <a href="{{ path('app_speaker_edit', {'id': speaker.id}) }}"><i class="fa-solid fa-pen"></i></a>
                <a href="{{ asset('uploads/manuals/' ~ speaker.Manual) }}" download><i class="fa-solid fa-file-pdf"></i></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">We could not find any speakers.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block crud_pagination %}
<div class="d-flex justify-content-end mt-2">
    <div class="pagination-wrap hstack gap-2" style="display: flex;">
        <a class="page-item pagination-prev disabled" href="#">
            Previous
        </a>
        <ul class="pagination listjs-pagination mb-0">
            <li class="active">
                <a class="page" href="#" data-i="1" data-page="8">1</a>
            </li>
            <li>
                <a class="page" href="#" data-i="2" data-page="8">2</a>
            </li>
        </ul>
        <a class="page-item pagination-next" href="#">
            Next
        </a>
    </div>
</div>
{% endblock %}