{{ form_start(form) }}
<div class="d-flex flex-column overflow-hidden">
    <div class="row">
        {{ include('pages/crud/speaker/partials/_general.html.twig') }}
    </div>
    <div class="row shepherd-bandwidth">
        {{ include('pages/crud/speaker/partials/_chassis.html.twig') }}
    </div>
    <div class="row shepherd-bandwidth">
        {{ form_row(form.Bandwidth) }}
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        {{ include('pages/crud/speaker/partials/_power.html.twig') }}
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        {{ include('pages/crud/speaker/partials/_acoustical.html.twig') }}
    </div>

    <div class="divider seperator mb-3"><hr></div>
    <div class="row shepherd-manual">
        {{ form_row(form.Manual) }}
    </div>
    <div class="divider seperator mb-3"><hr></div>

    <div class="row">
        <button class="btn btn-primary shepherd-save">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}