{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | Edit: {{ speaker.Manufacturer.name }} - {{ speaker.Name }}{% endblock %}

{% block crud_body %}
    {% set buttonLabel = 'Update'|trans %}
    {{ include('pages/crud/speaker/_form.html.twig', {'button_label': buttonLabel}) }}
{% endblock %}

{% block crud_toolbar %}
<li class="list-inline-item d-lg-inline-block ms-0 m-0">
    <a type="button" href="{{ path('app_speaker_index') }}" class="btn nav-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</li>
{% if app.user.isSubscriber %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <button class="btn bg-opacity-10 bg-dark rounded" type="button" data-bs-toggle="collapse" data-bs-target="#collapseChassis" aria-expanded="false" aria-controls="collapseChassis" aria-label="Show Chassis" data-balloon-pos="down">
            <i class="icon icon-chassis fs-16"></i>
        </button>
    </li>    
{% endif %}
<li class="list-inline-item d-lg-inline-block ms-0 m-0">
    {{ include('pages/crud/speaker/_delete_form.html.twig') }}
</li>
{% endblock %}