{{ form_start(form) }}
<div class="d-flex flex-column overflow-hidden">
    <div class="row">
        <div class="col">
            {{ form_row(form.Manufacturer, {
                'attr': {
                    'class': 'form-select',
                },
                'placeholder': 'Select Manufacturer',
            }) }}
        </div>
        <div class="col">
            {{ form_row(form.Name) }}
        </div>
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        <div class="col">
            {{ form_row(form.ChannelsInput) }}
        </div>
        <div class="col">
            {{ form_row(form.ChannelsOutput) }}
        </div>
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        {{ form_row(form.OutputOffset) }}
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        {{ form_row(form.Manual) }}
    </div>
    <div class="divider seperator mb-3"><hr></div>
    <div class="row">
        {% set buttonLabelDefault = 'Save'|trans %}
        <button class="btn btn-primary">{{ button_label|default(buttonLabelDefault) }}</button>
    </div>
</div>
{{ form_end(form) }}