{% extends 'content.html.twig' %}

{% block title %}Processor{% endblock %}
{% block page_content %}
    <div class="row">
        <div class="col-lg-12">
            <div id="processor" class="card">
                <div class="card-header border-0">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title mb-0 flex-grow-1">All {{ title }}s</h5>
                        <div class="flex-shrink-0">
                            <div class="d-flex flex-wrap gap-2">
                                <ul class="list-inline text-end mb-0">                                        
                                    <li class="list-inline-item d-none d-lg-inline-block me-2 ms-0">
                                        <button type="button" class="btn nav-btn" data-bs-toggle="modal" data-bs-target="#new_processor_modal">
                                            <i class="fa-solid fa-plus"></i>
                                        </button>
                                    </li>                                     
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body border border-dashed border-end-0 border-start-0">
                    <form>
                        <div class="row g-3">
                            <div class="search-box">            
                                <div class="input-group mb-3 rounded-3">
                                    <span class="input-group-text text-muted bg-light pe-1 ps-3">
                                        <i class="fa-solid fa-magnifying-glass font-size-18"></i>
                                    </span>
                                    <input type="text" class="form-control bg-light" placeholder="Search..." aria-label="Search...">
                                </div> 
                            </div>

                        </div>
                        <!--end row-->
                    </form>
                </div>
                <!--end card-body-->
                <div class="card-body">
                    <div class="table-responsive table-card mb-4">
                        <table class="table align-middle table-nowrap mb-0" id="tasksTable">
                            <thead class="table-light text-muted">
                                <tr>
                                    <th class="sort align-middle" data-sort="id">ID</th>
                                    <th class="sort align-middle" data-sort="brand">Brand</th>
                                    <th class="sort align-middle" data-sort="name">Name</th>
                                    <th class="sort align-middle" data-sort="inputs">Inputs</th>
                                    <th class="sort align-middle" data-sort="outputs">Outputs</th>
                                    <th class="sort align-middle" data-sort="offset">Offset</th>
                                    <th class="sort align-middle" data-sort="actions">Actions</th>
                                </tr>
                            </thead>
                            <tbody class="list form-check-all"><tr>
                                {% for processor in processors %}
                                <tr>
                                    <td class="id"><a class="text-body fw-bold" href="{{ path('app_processor_show', {'id': processor.id}) }}">{{ processor.id }}</a></td>
                                    <td class="brand">{{ processor.Brand }}</td>
                                    <td class="name">{{ processor.Name }}</td>
                                    <td class="inputs">{{ processor.ChannelsInput }}</td>
                                    <td class="outputs">{{ processor.ChannelsOutput }}</td>
                                    <td class="offset">{{ processor.OutputOffset }}</td>
                                    <td class="actions">
                                        <a href="{{ path('app_processor_show', {'id': processor.id}) }}"><i class="fa-solid fa-eye"></i>View</a>
                                        <a href="{{ path('app_processor_edit', {'id': processor.id}) }}"><i class="fa-solid fa-pen"></i>Edit</a>
                                    </td>
                                </tr>
                                {% else %}
                                <tr>
                                    <td colspan="7">We could not find any processors.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-end mt-2">
                        <div class="pagination-wrap hstack gap-2" style="display: flex;">
                            <a class="page-item pagination-prev disabled" href="#">
                                Previous
                            </a>
                            <ul class="pagination listjs-pagination mb-0">
                                <li class="active">
                                    <a class="page" href="#" data-i="1" data-page="8">1</a>
                                </li>
                                <li>
                                    <a class="page" href="#" data-i="2" data-page="8">2</a>
                                </li>
                            </ul>
                            <a class="page-item pagination-next" href="#">
                                Next
                            </a>
                        </div>
                    </div>
                </div>
                <!--end card-body-->
            </div>
            <!--end card-->
        </div>
        <!--end col-->
    </div>
{% endblock %}

{% set toolbar_button %}
    <a href="{{ path('app_processor_new') }}" class="btn nav-btn">
        <i class="fa-solid fa-plus"></i>
    </a>
{% endset %}