{% extends 'base.html.twig' %}

{% block title %}Limiter index{% endblock %}

{% block body %}
    <h1>Limiter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserId</th>
                <th>Name</th>
                <th>AmplifierId</th>
                <th>ProcessorId</th>
                <th>SpeakerId</th>
                <th>PeakLimiter</th>
                <th>RmsLimiter</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for limiter in limiters %}
            <tr>
                <td>{{ limiter.id }}</td>
                <td>{{ limiter.UserId }}</td>
                <td>{{ limiter.Name }}</td>
                <td>{{ limiter.AmplifierId }}</td>
                <td>{{ limiter.ProcessorId }}</td>
                <td>{{ limiter.SpeakerId }}</td>
                <td>{{ limiter.PeakLimiter }}</td>
                <td>{{ limiter.RmsLimiter }}</td>
                <td>
                    <a href="{{ path('app_limiter_crud_show', {'id': limiter.id}) }}">show</a>
                    <a href="{{ path('app_limiter_crud_edit', {'id': limiter.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_limiter_crud_new') }}">Create new</a>
{% endblock %}
