{% extends 'base.html.twig' %}

{% block title %}Limiter{% endblock %}

{% block body %}
    <h1>Limiter</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ limiter.id }}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>{{ limiter.UserId }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ limiter.Name }}</td>
            </tr>
            <tr>
                <th>AmplifierId</th>
                <td>{{ limiter.AmplifierId }}</td>
            </tr>
            <tr>
                <th>ProcessorId</th>
                <td>{{ limiter.ProcessorId }}</td>
            </tr>
            <tr>
                <th>SpeakerId</th>
                <td>{{ limiter.SpeakerId }}</td>
            </tr>
            <tr>
                <th>PeakLimiter</th>
                <td>{{ limiter.PeakLimiter }}</td>
            </tr>
            <tr>
                <th>RmsLimiter</th>
                <td>{{ limiter.RmsLimiter }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_limiter_crud_index') }}">back to list</a>

    <a href="{{ path('app_limiter_crud_edit', {'id': limiter.id}) }}">edit</a>

    {{ include('limiter_crud/_delete_form.html.twig') }}
{% endblock %}
