{% extends 'base.html.twig' %}

{% block title %}Amplifier index{% endblock %}

{% block body %}
    <h1>Amplifier index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BrandId</th>
                <th>UserId</th>
                <th>Name</th>
                <th>Height</th>
                <th>OutputChannels</th>
                <th>Power16</th>
                <th>Power8</th>
                <th>Power4</th>
                <th>Power2</th>
                <th>PowerBridge8</th>
                <th>PowerBridge4</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amplifier in amplifiers %}
            <tr>
                <td>{{ amplifier.id }}</td>
                <td>{{ amplifier.BrandId }}</td>
                <td>{{ amplifier.UserId }}</td>
                <td>{{ amplifier.Name }}</td>
                <td>{{ amplifier.Height }}</td>
                <td>{{ amplifier.OutputChannels }}</td>
                <td>{{ amplifier.Power16 }}</td>
                <td>{{ amplifier.Power8 }}</td>
                <td>{{ amplifier.Power4 }}</td>
                <td>{{ amplifier.Power2 }}</td>
                <td>{{ amplifier.PowerBridge8 }}</td>
                <td>{{ amplifier.PowerBridge4 }}</td>
                <td>
                    <a href="{{ path('app_amplifier_crud_show', {'id': amplifier.id}) }}">show</a>
                    <a href="{{ path('app_amplifier_crud_edit', {'id': amplifier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_amplifier_crud_new') }}">Create new</a>
{% endblock %}
