{% extends 'base.html.twig' %}

{% block title %}Speaker index{% endblock %}

{% block body %}
    <h1>Speaker index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>BrandId</th>
                <th>UserId</th>
                <th>Name</th>
                <th>Bandwidth</th>
                <th>PowerRms</th>
                <th>Impedance</th>
                <th>Spl</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for speaker in speakers %}
            <tr>
                <td>{{ speaker.id }}</td>
                <td>{{ speaker.BrandId }}</td>
                <td>{{ speaker.UserId }}</td>
                <td>{{ speaker.Name }}</td>
                <td>{{ speaker.Bandwidth }}</td>
                <td>{{ speaker.PowerRms }}</td>
                <td>{{ speaker.Impedance }}</td>
                <td>{{ speaker.Spl }}</td>
                <td>
                    <a href="{{ path('app_speaker_crud_show', {'id': speaker.id}) }}">show</a>
                    <a href="{{ path('app_speaker_crud_edit', {'id': speaker.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_speaker_crud_new') }}">Create new</a>
{% endblock %}
