{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | {{ 'Processor'|trans }}{% endblock %}
{% block crud_toolbar %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0 shepherd-new">
        <a type="button" href="{{ path('app_processor_new') }}" class="btn nav-btn">
            <i class="fa-solid fa-plus"></i>
        </a>
    </li>
{% endblock %}
{% block crud_body %}
<table class="table align-middle table-nowrap mb-0" data-tables='data-tables'>
    <thead class="">
        <tr>
            <th class="sort text-uppercase align-middle" data-sort="manufacturer">{{ 'Manufacturer'|trans }}</th>
            <th class="sort text-uppercase align-middle" data-sort="name">{{ 'Name'|trans }}</th>
            <th class="sort text-uppercase align-middle d-none d-sm-table-cell" data-sort="inputs">{{ 'Inputs'|trans }}</th>
            <th class="sort text-uppercase align-middle d-none d-sm-table-cell" data-sort="outputs">{{ 'Outputs'|trans }}</th>
            <th class="sort text-uppercase align-middle d-none d-sm-table-cell" data-sort="offset">{{ 'Offset'|trans }}</th>
            <th class="sort text-uppercase align-middle" data-sort="actions">{{ 'Actions'|trans }}</th>
        </tr>
    </thead>
    <tbody id="search-table" class="list form-check-all">
        {% for processor in processors %}
        <tr>
            <td class="brand">{{ processor.Manufacturer.name }}</td>
            <td class="name">{{ processor.Name }}</td>
            <td class="inputs d-none d-sm-table-cell">{{ processor.ChannelsInput }}</td>
            <td class="outputs d-none d-sm-table-cell">{{ processor.ChannelsOutput }}</td>
            <td class="offset d-none d-sm-table-cell">{{ processor.OutputOffset }}</td>
            <td class="actions d-flex gap-2">
                <a href="{{ path('app_processor_show', {'id': processor.id}) }}"><i class="fa-solid fa-eye"></i></a>

                {% if processor.user == app.user %}
                    <a href="{{ path('app_processor_edit', {'id': processor.id}) }}"><i class="fa-solid fa-pen"></i></a>
                {% endif %}

                {% if processor.Manual is not null and processor.Manual is not empty and processor.Manual is defined %}
                    <a href="{{ asset('uploads/manuals/' ~ processor.Manual) }}" download><i class="fa-solid fa-file-pdf"></i></a>
                {% endif %}
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('crud') }}
{% endblock %}