{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | {{ processor.Manufacturer.name }} - {{ processor.Name }}{% endblock %}
{% block crud_toolbar %}
<li class="list-inline-item d-lg-inline-block ms-0 m-0">
    <a type="button" href="{{ path('app_processor_index') }}" class="btn nav-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</li>

{% if processor.user == app.user %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <a type="button" href="{{ path('app_processor_edit', {'id': processor.id}) }}" class="btn nav-btn">
            <i class="fa-solid fa-pen"></i>
        </a>
    </li>
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        {{ include('pages/processor/_delete_form.html.twig') }}
    </li>
{% endif %}
{% endblock %}

{% block crud_body %}
    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ processor.id }}</td>
            </tr>
            <tr>
                <th>{{ 'User'|trans }}</th>
                <td>{{ processor.User.username }}</td>
            </tr>
            <tr>
                <th>{{ 'Manufacturer'|trans }}</th>
                <td>{{ processor.Manufacturer.name }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ processor.Name }}</td>
            </tr>
            <tr>
                <th>{{ 'Inputs'|trans }}</th>
                <td>{{ processor.ChannelsInput }}</td>
            </tr>
            <tr>
                <th>{{ 'Outputs'|trans }}</th>
                <td>{{ processor.ChannelsOutput }}</td>
            </tr>
            <tr>
                <th>{{ 'Offset'|trans }}</th>
                <td>{{ processor.OutputOffset }}</td>
            </tr>
            {% if processor.Manual is not null and processor.Manual is not empty %}
                <tr>
                    <th>Manual</th>
                    <td><a class="button btn btn-primary" href="{{ asset('uploads/manuals/' ~ processor.Manual) }}" download>Download Manual</i></a></td>
                </tr>
                
            {% endif %}
            <tr>
                <th>{{ 'Validation'|trans }}</th>
                <td>
                    {{ form_start(form) }}
                    <button type="submit" name="submit" class="btn {% if processor.validated %}btn-success text-body{% else %}btn-primary{% endif %}"
                    {% if processor.validated %}
                        disabled
                    {% elseif validationRequested %}
                        disabled
                    {% endif %}>
                    {% if processor.validated %} {{ 'Validated'|trans }}
                    {% elseif validationRequested %} {{ 'Requested'|trans }}
                    {% else %} {{ 'Request'|trans }}
                    {% endif %}</button>
                    {{ form_end(form) }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
