{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | {{ 'Edit'|trans }}: {{ manufacturer.name }}{% endblock %}

{% block crud_body %}
    {% set buttonLabel = 'Update'|trans %}
    {{ include('pages/manufacturer/_form.html.twig', {'button_label': buttonLabel}) }}
{% endblock %}

{% block crud_toolbar %}
<li class="list-inline-item d-none d-lg-inline-block ms-0 m-0">
    <a type="button" href="{{ path('app_manufacturer_index') }}" class="btn nav-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</li>
<li class="list-inline-item d-none d-lg-inline-block ms-0 m-0">
    {{ include('pages/manufacturer/_delete_form.html.twig') }}
</li>
{% endblock %}