{% extends 'content.html.twig' %}

{% block page_content %}
    <div class="row" data-turbo="false">
        {% if isFeatureEnabled('manufacturers') %}
            {{ component('DashboardCard', {
                title: 'Manufacturer',
                items: app.user.Manufacturers,
                icon: 'fa-solid fa-industry'
            }) }}
        {% endif %}

        {% if isFeatureEnabled('processor') %}
            {{ component('DashboardCard', {
                title: 'Processor',
                items: app.user.Processors,
                icon: 'icon-processor'
            }) }}
        {% endif %}

        {% if isFeatureEnabled('amplifier') %}
            {{ component('DashboardCard', {
                title: 'Amplifier',
                items: app.user.Amplifiers,
                icon: 'icon-amplifier'
            }) }}
        {% endif %}

        {% if isFeatureEnabled('speaker') %}
            {{ component('DashboardCard', {
                title: 'Speaker',
                items: app.user.Speakers,
                icon: 'icon-speaker'
            }) }}
        {% endif %}

        {% if isFeatureEnabled('chassis') and app.user.isSubscriber %}
            {{ component('DashboardCard', {
                title: 'Chassis',
                items: app.user.Chassis,
                icon: 'icon-chassis'
            }) }}
        {% endif %}

        {% if isFeatureEnabled('limiter') %}
            {{ component('DashboardCard', {
                title: 'Limiter',
                items: app.user.Limiters,
                icon: 'fa-solid fa-wave-square'
            }) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('dashboard') }}
{% endblock %}