{% extends 'crud.html.twig' %}

{% block title %}{{ parent() }} | {{ manufacturer.name }}{% endblock %}
{% block crud_toolbar %}
<li class="list-inline-item d-lg-inline-block ms-0 m-0">
    <a type="button" href="{{ path('app_manufacturer_index') }}" class="btn nav-btn">
        <i class="fa-solid fa-arrow-left"></i>
    </a>
</li>
{% if manufacturer.user == app.user %}
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        <a type="button" href="{{ path('app_manufacturer_edit', {'id': manufacturer.id}) }}" class="btn nav-btn">
            <i class="fa-solid fa-pen"></i>
        </a>
    </li>
    <li class="list-inline-item d-lg-inline-block ms-0 m-0">
        {{ include('pages/crud/manufacturer/_delete_form.html.twig') }}
    </li>
{% endif %}
{% endblock %}

{% block crud_body %}
        <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ manufacturer.id }}</td>
            </tr>
            <tr>
                <th>{{ 'User'|trans }}</th>
                <td>{{ manufacturer.User.username }}</td>
            </tr>
            <tr>
                <th>{{ 'Name'|trans }}</th>
                <td>{{ manufacturer.Name }}</td>
            </tr>
            <tr>
                <th>{{ 'Validation'|trans }}</th>
                <td>
                    {{ form_start(form) }}
                    <button type="submit" name="submit" class="btn {% if manufacturer.validated %}btn-success text-body{% else %}btn-primary{% endif %}"
                    {% if manufacturer.validated %}
                        disabled
                    {% elseif validationRequested %}
                        disabled
                    {% endif %}>
                    {% if manufacturer.validated %} {{ 'Validated'|trans }}
                    {% elseif validationRequested %} {{ 'Requested'|trans }}
                    {% else %} {{ 'Request'|trans }}
                    {% endif %}</button>
                    {{ form_end(form) }}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}